<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GEOBOX.OSC.DisplayModelEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <GEOBOX.OSC.DisplayModelEditor.Properties.Settings>
            <setting name="DMRootPath" serializeAs="String">
                <value>C:\_M3D_DisplayModel</value>
            </setting>
            <setting name="LayerDataSourceName" serializeAs="String">
                <value>GBX_DEV_FA</value>
            </setting>
            <setting name="LayerDataServiceName" serializeAs="String">
                <value>topobase</value>
            </setting>
            <setting name="LayerDataMapsysName" serializeAs="String">
                <value>MAPSYS</value>
            </setting>
        </GEOBOX.OSC.DisplayModelEditor.Properties.Settings>
    </applicationSettings>
</configuration>
